@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap');

a:link {
    text-decoration: none !important;
    color: black;
}

a:visited {
    text-decoration: none !important;
    color: black;
}

a:hover {
    font-weight: 400;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 2px;
    border: solid rgb(85, 84, 84) 5px;
}

body {
    display: flex;
    flex-direction: column;
    background: url("images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

.top_bar {
    display: flex;
    height: 10vh;
    width: 100vw;
    background-color: lightgrey;
    justify-content: space-between;
    align-items: center;
}

.header {
    display: flex;
    height: 90%;
    width: 50%;
    /* background-color: lightyellow; */
    margin: 5px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: xx-large;
    color: rgb(0, 0, 0);
}

.nav_bar {
    display: flex;
    flex-direction: row;
    height: 90%;
    width: 50%;
    /* background-color: lightyellow; */
    margin: 5px;
    justify-content: space-around;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: xx-large;
    font-weight: 300;
}

.main {
    display: flex;
    height: 85vh;
    width: 100vw;
    /* background-color: lightblue; */
    margin-top: 30px;
    justify-content: space-between;
}

.left {
    display: flex;
    flex-direction: column;
    height: 99%;
    width: 48%;
    /* background-color: rgb(252, 195, 120); */
    margin: 5px;
}

.h_art {
    height: 10%;
    width: 99%;
    /* background-color: lightyellow; */
    margin: 5px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: x-large;
}

.art {
    display: flex;
    height: 90%;
    width: 99%;
    /* background-color: lightyellow; */
    margin: 5px;
    justify-content: space-around;
}

.right {
    display: flex;
    flex-direction: column;
    height: 99%;
    width: 48%;
    /* background-color: rgb(252, 195, 120); */
    margin: 5px;
}

.h_coding {
    height: 10%;
    width: 99%;
    /* background-color: lightyellow; */
    margin: 5px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: x-large;
}

.coding {
    display: flex;
    height: 90%;
    width: 99%;
    /* background-color: lightyellow; */
    margin: 5px;
    justify-content: space-around;
}